[submodule ".vim/pack/addons/start/ale"]
	path = .vim/pack/addons/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/addons/start/editorconfig"]
	path = .vim/pack/addons/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/addons/start/gruvbox"]
	path = .vim/pack/addons/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/addons/start/auto-pairs"]
	path = .vim/pack/addons/start/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/addons/start/nerdcommenter"]
	path = .vim/pack/addons/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/pack/addons/start/nerdtree"]
	path = .vim/pack/addons/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/addons/start/vim-airline"]
	path = .vim/pack/addons/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/addons/start/vim-surround"]
	path = .vim/pack/addons/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/pack/addons/start/fzf.vim"]
	path = .vim/pack/addons/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/addons/start/completor.vim"]
	path = .vim/pack/addons/start/completor.vim
	url = https://github.com/maralla/completor.vim.git
[submodule ".vim/pack/addons/start/vim-javascript"]
	path = .vim/pack/addons/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/addons/start/vim-jsx-typescript"]
	path = .vim/pack/addons/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule ".vim/pack/addons/start/typescript-vim"]
	path = .vim/pack/addons/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/addons/start/vim-css3-syntax"]
	path = .vim/pack/addons/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule ".vim/pack/addons/start/vim-latex"]
	path = .vim/pack/addons/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule ".vim/pack/addons/start/elm-vim"]
	path = .vim/pack/addons/start/elm-vim
	url = https://github.com/ElmCast/elm-vim.git
[submodule ".vim/pack/addons/start/supertab"]
	path = .vim/pack/addons/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/addons/start/vim-devicons"]
	path = .vim/pack/addons/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
